.Header {
    width: 100%;
    height: 65px;
    min-height: 65px;
    display: flex;
}

.Dialog-label {
    flex-grow: 1;
}

.Start-code-chat, .Leave-channel {
    color: black;
    width: 100%;
    text-decoration: none;
}
