.Channel {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Link {
    color: black;
    width: 100%;
    text-decoration: none;
}

.CodeChats-list {
    align-self: flex-end;
    width: 80%;
}